@use '../helpers/abstracts' as *;

// SECTION HELP

.section--help {
	@include bp($point_4, min) {
		padding: 12.5rem 0;
	}

	@include bp($point_4) {
		padding: 3.5rem 0;
	}
}

.hero_help {
	display: flex;
	justify-content: center;

	@include bp($point_3, min) {
		column-gap: 9.4rem;
		padding: 0 15rem;
	}

	@include bp($point_2) {
		flex-direction: column;
		row-gap: 3.5rem;
		align-items: center;
	}
}

.hero_help__title {
	font-size: 4rem;
	font-weight: 700;
	line-height: 1.3;

	color: #1e1f4b;

	margin-bottom: 1rem;
	padding-top: 3.6rem;

	@include bp($point_4) {
		text-align: center;
	}
}

.hero_help__descr {
	font-size: 2rem;
	line-height: 1.8;

	color: #1b1d21;

	margin-bottom: 5rem;

	max-width: 45.7rem;

	@include bp($point_4) {
		text-align: justify;
	}
}

.hero_help__form {
	position: relative;
}

.hero_help__email {
	@include bp($point_4, min) {
		min-width: 49.1rem;
	}

	@include bp($point_4) {
		min-width: 100%;
	}

	height: 7.2rem;

	background: rgba(112, 111, 229, 10%);

	border-radius: 1.2rem;
	border: none;

	padding-left: 5.7rem;

	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;

	color: #2e3e5c;

	opacity: 70%;
}

.btn--sub {
	@include bp($point_4) {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
}

.hero_help__email::placeholder {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;

	color: #2e3e5c;

	opacity: 70%;

	// padding-left: 5.7rem;
}

.hero_help__img_w {
	position: absolute;

	top: calc((7.2rem / 2) - 1.2rem);
	left: 2.2rem;

	width: 2.4rem;
	height: 2.4rem;
	opacity: 70%;
}

.hero_help__img {
	@extend %cover_img;
}

.hero_help__item_logo {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 5rem;
	height: 5rem;

	border-radius: 1.2rem;

	background: rgba(112, 111, 229, 15%);

	margin-bottom: 1.2rem;
}

.hero_help__item_img_w {
	width: 2.4rem;
	height: 2.4rem;
}

.hero_help__item_img_w--app {
	height: 2.4rem;
	width: 1.5rem;
}

.hero_help__item_img_w--logo {
	height: 2.4rem;
	width: 2.2rem;
}

.hero_help__item_img {
	@extend %contain_img;
}

.hero_help__item_title {
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.4;

	color: #1e1f4b;

	margin-bottom: 1rem;
}

.hero_help__item_descr {
	font-size: 1.6rem;
	line-height: 1.5;

	color: #2e3e5c;
}

.hero_help__col2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);

	row-gap: 6rem;
	column-gap: 3rem;
}

.hero_help__item {
	max-width: 26.2rem;
}
// SECTION HELP###
